div{
    background-color: brown;
    font-size: large;
}
.navbar a{
    text-decoration: none;
    color: aliceblue;
    display: block;
}
p{
    text-align: center;
    color: aliceblue;
}
.img{
  background-color: aliceblue;
}
.image{
    width: 350px;
    height: 180px;
}
.two{
    font-weight: 300;
    padding: 15px;
    margin: 15px;
    width: 90px;
}